.message-box{
  margin-top: 42px;
  background-color: rgb(244, 244, 244);
  padding: 24px 28px;
  @media(max-width: 767.98px){
    margin-top: 30px;
    padding: 15px 20px;
  }
  p{
    font-size: 22px;
    max-width: 70%;
    @media(max-width: 767.98px){
      font-size: 18px;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}