* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  @extend %worksans_reg;
  font-size: 100%;
}

.wrapper{
  width: 100%;
  max-width: 872px;
  padding: 0 15px;
  margin: 0 auto;
}