@media (min-width: 768px){
    .btn-purple{
      transition: all .3s ease;
      &:not(:disabled):hover{
        background-color: transparent;
        color: $purple;
      }
    }
  .btn-default{
    transition: all .3s ease;
    &:not(:disabled):hover{
      background-image: linear-gradient( 20deg, rgb(244,244,244) 0%, rgb(224,224,224) 100%);
    }
  }
}