.single-post{
  &_date{
    margin: 18px 0;
    color: $dark;
    font-size: 15px;
  }
  figcaption{
    background-image: url("../images/rectangle.png");
    @include bg-cover();
    min-width: 128px;
    padding: 7px 7px 9px;
    font-size: 14px;
    left: -12px;
    top: 30px;
    line-height: 1;
    @media(max-width: 767.98px){
      min-width: 110px;
      padding: 6px 7px 8px;
      font-size: 12px;
      left: -10px;
      top: 15px;
    }
    &:after{
      @include pseudo(0,0);
      border-style: solid;
      border-width: 0 10px 10px 0;
      border-color: transparent #07906b transparent transparent;
      left: 2px;
      bottom: -7px;
      @media(max-width: 767.98px){
        border-width: 0 8px 8px 0;
        left: 2px;
        bottom: -5px;
      }
    }
  }
  figure{
    margin: 25px 0;
  }
  blockquote{
    margin: 22px 0 22px;
    padding-left: 23px;
    font-size: 18px;
    @media(max-width: 767.98px){
      font-size: 16px;
    }
    &:before{
      @include pseudo(3px);
      background-color: $purple;
      left: 0;
    }
  }
}

.category-list{
  li{
    a{
      padding: 8px 16px;
      background-color: $purple;
      color: $white;
      border: 1px solid transparent;
      @media(min-width: 768px){
        &:hover{
          background-color: transparent;
          border-color: $purple;
          color: $purple;
        }
      }
      @media(max-width: 767.98px){
        font-size: 14px;
        padding: 5px 10px;
      }
    }
  }
}

.tag-list{
  &_item{
    margin-bottom: 17px;
    @media(max-width: 767.98px){
      margin-bottom: 14px;
    }
    &:not(:last-child){
      margin-right: 10px;
      @media(max-width: 767.98px){
        margin-right: 7px;
      }
    }
  }
}
